## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [82]:
import pandas as pd
import numpy as np

In [116]:
a=np.random.randint(100)
b=np.random.randint(100)
c=np.random.randint(100)

nation=['TWN','JAP','US']
people=[a,b,c]
data={
    "Nation":nation,
    "People(Million)":people
}
df=pd.DataFrame(data)#建立dataframe
df

  Nation  People(Million)
0    TWN               15
1    JAP               62
2     US               98

In [123]:
df=pd.DataFrame(people,columns=["people"],index = nation)#建立索引 且排序索引依照people排序
df.sort_values(by='people')#排列依照people的數值排列

     people
TWN      13
JAP      80
US       84